
 /*.css(外部样式表文件）只能写css
用引入（link）的方式写进html的头文件中
外部样式表=外链式
样式优先级：行内样式>内部样式>外部样式
控制等级   一个标签|一个页面|一个站点
css属性格式要与标签属性格式区分---- 
属性名：属性值；     属性名="属性“
*/
p{
  text-indent:2em;
  font-size:20px;
  line-height:50px;
  color:green;
}
div{
  color:red;
}
/*
 
*/