@font-face {
  font-family: "iconfont"; /* Project id 3321605 */
  src: url('../media/iconfont.woff2?t=1649738037909') format('woff2'),
       url('../media/iconfont.woff?t=1649738037909') format('woff'),
       url('../media/iconfont.ttf?t=1649738037909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquan:before {
  content: "\e74a";
}

.icon-fenxi:before {
  content: "\e74c";
}

.icon-API:before {
  content: "\e74d";
}

